.navbar {
    position:fixed;
    display: flex;
    height: 50px;
    width: 100vw;
    justify-content: space-between;
    background-color: lightseagreen;
    z-index: 100;
}

h3 {
    margin-left: 15px;
}

.links {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.navbar button {
    position: relative;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    bottom: 5px;
    background-color: thistle;
}

.logout {
    text-decoration: 'none';
    color: 'white';
    margin-left: '20px';
}