.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-box {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-box {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 0px;
  color: white;
  background-color: lightseagreen;
  border-radius: 5px;
  padding: 5px
}

button:hover {
  background-color: white;
  color:lightseagreen;
  border: 1px solid lightseagreen
}