.create-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 196, 176);
    border: 5px solid lightsalmon;
    border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
    margin: 10px;
}

h2 {
    margin: 10px;
}
.button {
    border: 0px;
    color: white;
    background-color: lightseagreen;
    border-radius: 5px;
    padding: 5px
}

.button:hover {
  background-color: white;
  color:lightseagreen;
  border: 1px solid lightseagreen
}